gym==0.26.2+computecanada
numpy==1.26.4+computecanada
scipy==1.14.1+computecanada
tensorboard==2.17.0
wandb==0.14.2+computecanada
graphviz==0.20.3+computecanada
pandas==2.2.2+computecanada
pygame==2.5.2+computecanada